
import

.signup,
.signup * {
        box-sizing: border-box;
}

/* body{

     background-color:#f7f7f7; 
} */
.submit-btn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;
width: 320px;
height: 32px;
margin: 6% 2% -6% 0%;
padding: 6.5%;
border: none;
flex: none;
order: 0;
/* flex-grow: 0; */
font-size: 12px;
background-image: linear-gradient(to right,#DE3D6D 40% ,#F5844C );
color: #F5F5F5;

font-weight:600;
line-height:14.52px ;
}
.logo-heading{
margin-left: 95px;
}
.bck_btn{
    color:rgb(50, 49, 49);
    background-color: #f7f7f7;
    border: none;
    border-radius: 95px;
    padding: 2% 6% 2% 1%;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #21334F;
}
.frame9, span{
width: 162px;
height: 22px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
color: #21334F;
flex: none;
order: 0;
flex-grow: 0;
}
.sign_container{
    color: #21334F;
    width: 189px;
    height: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    }
.sign_in{
    color: #DE3D6D;}
.signup {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: rgb(245, 245, 245) */
}
.signup-card {
 position: relative;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -0.05%);
 display: flex;
 justify-content: center;
 align-items: center;
 background: #FFFFFF; 
 margin: 10% 0% 10% 0%;
 width: 745px;
 height: Hug(936);
 Padding: 100px 200px 200px 200px;
    /* Gap 40px */
    gap: 40px;
}
.signup-card-padding {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 320px;
    height: 680px;
    flex: none;
    order: 1;
    flex-grow: 0;
    
}
.signup-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}
.frame10{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 40px;
border-radius: 6px;
width: 300px;
height: 455px;
flex: none;
order: 1;
flex-grow: 0;
}
@media only screen and (max-width:375px) {
    .sign_container {
            color: #21334F;
            width: 189px;
            height: 15px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        }
.signup-card{
        width:5px;
        margin:400px 10px;
        padding: 0;
        height: 20px;
    }
        
}
@media only screen and (max-width:500px) {
    .menu,
    .main,
    .right {
        width: 100%;
    }
}