.rectangle2 {
    width: 1440px;
    height: 271px;
    background: rgba(222, 61, 109, 0.1);
}
.dash{
    border: 1px solid red;
    width:100%;
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 40%;
  margin: 0;
    /* margin-left: 100px; */
}
.frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 700px;
    margin-left: 320px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
}
.dashboard {
/* Dashboard */
    width: 169px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #012A4A;
    margin-bottom: 20px;
}

.sellAirtime {
    /* Sell airtime */
    width: 74px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #012A4A;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.WithdrawBalance {
    /* Withdraw balance */
    width: 120px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #012A4A;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ManageBankAccount {
    width: 147px;
    height: 17px;   
    color: #012A4A;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.TransactionHistory {
    width: 127px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #012A4A;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
    width: 100%;
    height: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;
    list-style: none;
}


/* new */

.TabStyle {
    width: 97%;
    height: auto;
    min-height: 400px;
    margin: 1.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #e8f0f2;
}

ul.nav {
    width: 100%;
    margin: -0.5rem auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    padding-left: 0px;
}
ul.nav li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    height: 17px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #012a4a;
    flex-grow: 0;
}
ul.nav li:first-child {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}
ul.nav li:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul.nav li.active {
    text-decoration: underline red 2px;
}
.TabContent {

    font-size: 2rem;

    text-align: center;

}
.money {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 551px;
    height: 160px;
color: white;
    background: #DE3D6D;
    border-radius: 24px;
}
.fig{
margin: 0px 0px 1px 10px;
color: white;
}
.walletBalance {

    width: 110px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;


    flex: none;
    order: 0;
    flex-grow: 0;  
}
.account{
    width: 95px;
    height: 24px;
 font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        background-color: #DE3D6D;
        border-radius:10px ;
        padding:5px ;
            flex: none;
            order: 0;
            flex-grow: 0;
    }


    @media screen and (max-width: 800px) {
.frame1{
    width: 100%;
    /* background: red; */
    margin-right: 30px;
    margin-left: 0px;
}
.rectangle2{
    max-width: 107%;
}
.money{
    width: auto;
}
    }
